
body {
	margin: 0;
	background-color: #FFAF4A;
}

/*navbar styles*/
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #FFAF4A;
    height: 100%;
    position:fixed; 
}

#navHeader {
	font-family:'Damion';
	font-size:70px;
	margin-bottom:10px;
	margin-left:10px;
}

.cities {
	font-family:monospace;
	font-size:30px;
	margin-left:15px;
}

a {
	color:black;
	text-decoration: none;
}

/*angular views styles*/
#view {
	margin-top:200px;
    margin-left:400px;
	width:75%;
	font-family: monospace;
	display:inline-block;
}

#home {
	text-align:center;
}

#pizzapic {
	height:250px;
	width:250px;
}

#home h1 {
	font-family:monospace;
}

.locations {
	font-family:'Damion';
	text-align: center;
}



.pizzas {
 	margin-left:100px;	
 	text-align:center;
 	display:inline-block;
 	font-family:monospace;
}



.menu-pic {
	height:50px;
	width:50px;
}

button {
	border:none;
	color:#FFAF4A;
	background-color:white;
	border-radius:4px;
	font-size:20px;
	font-family:'Damion'; 
}

.toppings {
	color:#FFAF4A;
}

.toggled {
	color:black;
}



